.app {
  padding: 10px;
  width: min-content;
  background-color: black;
}

.container {
  width: min-content;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 500px);
  gap: 10px;
}

.header p {
  margin: 10px 0;
}

.header h1 {
  margin: 0;
  font-size: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;
}